adf_assets/pipeline/PL_J2D_HealthcareIngest_Enhanced.json
{
  "name": "PL_J2D_HealthcareIngest_Enhanced",
  "properties": {
    "description": "J2D Healthcare Enhanced Ingestion pipeline with parallelization, parameterization, and robust logic app alerts.",
    "parameters": {
      "report_month": {
        "type": "string",
        "defaultValue": "2026-02"
      },
      "raw_container": {
        "type": "string",
        "defaultValue": "rawlayer"
      },
      "bronze_container": {
        "type": "string",
        "defaultValue": "bronzelayer"
      },
      "env": {
        "type": "string",
        "defaultValue": "prod"
      }
    },
    "variables": {
      "hospital_rows_copied": {
        "type": "Integer"
      },
      "device_rows_copied": {
        "type": "Integer"
      },
      "pharma_rows_copied": {
        "type": "Integer"
      }
    },
    "activities": [
      {
        "name": "ACT_NB_SetRunMetadata",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 60
        },
        "typeProperties": {
          "notebookPath": "/Workspace/Users/avinashanu101@gmail.com/Helper_NB_Enhanced",
          "baseParameters": {
            "audit_action": "START",
            "pipeline_name": { "value": "@pipeline().Pipeline", "type": "Expression" },
            "run_id": { "value": "@pipeline().RunId", "type": "Expression" },
            "report_month": { "value": "@pipeline().parameters.report_month", "type": "Expression" }
          }
        },
        "linkedServiceName": {
          "referenceName": "LS_AzureDatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "ACT_Copy_HospitalEvents",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "ACT_NB_SetRunMetadata",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 60
        },
        "typeProperties": {
          "source": {
            "type": "MySqlSource"
          },
          "sink": {
            "type": "DelimitedTextSink",
            "storeSettings": {
              "type": "AzureBlobFSWriteSettings"
            },
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".csv"
            }
          },
          "enableStaging": false,
          "enableSkipIncompatibleRow": true,
          "logStorageSettings": {
            "linkedServiceName": {
              "referenceName": "LS_ADLS_RawLayer",
              "type": "LinkedServiceReference"
            },
            "path": { "value": "@concat(pipeline().parameters.raw_container, '/Logs/Hospital/')", "type": "Expression" },
             "logLevel": "Warning"
          }
        },
        "inputs": [
          {
            "referenceName": "DS_MySQL_HospitalEvents",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "DS_ADLS_Raw_CSV",
            "type": "DatasetReference",
            "parameters": {
              "container": { "value": "@pipeline().parameters.raw_container", "type": "Expression" },
              "folder": "Raw_Data",
              "fileName": { "value": "@concat('Hospital_events_', pipeline().parameters.report_month, '.csv')", "type": "Expression" }
            }
          }
        ]
      },
      {
        "name": "ACT_Copy_DeviceEvents",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "ACT_NB_SetRunMetadata",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 60
        },
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "queryTimeout": "02:00:00"
          },
          "sink": {
            "type": "DelimitedTextSink",
            "storeSettings": {
              "type": "AzureBlobFSWriteSettings"
            },
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".csv"
            }
          },
          "enableStaging": false,
          "enableSkipIncompatibleRow": true,
           "logStorageSettings": {
            "linkedServiceName": {
              "referenceName": "LS_ADLS_RawLayer",
              "type": "LinkedServiceReference"
            },
            "path": { "value": "@concat(pipeline().parameters.raw_container, '/Logs/Device/')", "type": "Expression" },
            "logLevel": "Warning"
          }
        },
        "inputs": [
          {
            "referenceName": "DS_AzureSQL_DeviceEvents",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "DS_ADLS_Raw_CSV",
            "type": "DatasetReference",
             "parameters": {
              "container": { "value": "@pipeline().parameters.raw_container", "type": "Expression" },
              "folder": "Raw_Data",
              "fileName": { "value": "@concat('Device_events_', pipeline().parameters.report_month, '.csv')", "type": "Expression" }
            }
          }
        ]
      },
      {
        "name": "ACT_Copy_PharmaEvents",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "ACT_NB_SetRunMetadata",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 60
        },
        "typeProperties": {
          "source": {
            "type": "PostgreSqlV2Source"
          },
          "sink": {
            "type": "DelimitedTextSink",
            "storeSettings": {
              "type": "AzureBlobFSWriteSettings"
            },
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".csv"
            }
          },
          "enableStaging": false,
          "enableSkipIncompatibleRow": true,
          "logStorageSettings": {
            "linkedServiceName": {
              "referenceName": "LS_ADLS_RawLayer",
              "type": "LinkedServiceReference"
            },
            "path": { "value": "@concat(pipeline().parameters.raw_container, '/Logs/Pharma/')", "type": "Expression" },
            "logLevel": "Warning"
          }
        },
        "inputs": [
          {
            "referenceName": "DS_PostgreSQL_PharmaEvents",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
             "referenceName": "DS_ADLS_Raw_CSV",
            "type": "DatasetReference",
             "parameters": {
              "container": { "value": "@pipeline().parameters.raw_container", "type": "Expression" },
              "folder": "Raw_Data",
              "fileName": { "value": "@concat('Pharma_events_', pipeline().parameters.report_month, '.csv')", "type": "Expression" }
            }
          }
        ]
      },
      {
        "name": "ACT_SetVar_HospitalRowCounts",
        "type": "SetVariable",
        "dependsOn": [{"activity": "ACT_Copy_HospitalEvents", "dependencyConditions": ["Succeeded"]}],
        "policy": { "retry": 0, "retryIntervalInSeconds": 30 },
        "typeProperties": {
          "variableName": "hospital_rows_copied",
          "value": { "value": "@activity('ACT_Copy_HospitalEvents').output.rowsCopied", "type": "Expression" }
        }
      },
      {
        "name": "ACT_SetVar_DeviceRowCounts",
        "type": "SetVariable",
        "dependsOn": [{"activity": "ACT_Copy_DeviceEvents", "dependencyConditions": ["Succeeded"]}],
        "policy": { "retry": 0, "retryIntervalInSeconds": 30 },
        "typeProperties": {
          "variableName": "device_rows_copied",
          "value": { "value": "@activity('ACT_Copy_DeviceEvents').output.rowsCopied", "type": "Expression" }
        }
      },
      {
        "name": "ACT_SetVar_PharmaRowCounts",
        "type": "SetVariable",
        "dependsOn": [{"activity": "ACT_Copy_PharmaEvents", "dependencyConditions": ["Succeeded"]}],
        "policy": { "retry": 0, "retryIntervalInSeconds": 30 },
        "typeProperties": {
          "variableName": "pharma_rows_copied",
          "value": { "value": "@activity('ACT_Copy_PharmaEvents').output.rowsCopied", "type": "Expression" }
        }
      },
        {
            "name": "ACT_IfCheck_RowCounts",
            "type": "IfCondition",
            "dependsOn": [
                {
                    "activity": "ACT_SetVar_HospitalRowCounts",
                    "dependencyConditions": [
                        "Succeeded"
                    ]
                },
                {
                    "activity": "ACT_SetVar_DeviceRowCounts",
                    "dependencyConditions": [
                        "Succeeded"
                    ]
                },
                {
                    "activity": "ACT_SetVar_PharmaRowCounts",
                    "dependencyConditions": [
                        "Succeeded"
                    ]
                }
            ],
            "typeProperties": {
                "expression": {
                    "value": "@and(and(greater(variables('hospital_rows_copied'), 0), greater(variables('device_rows_copied'), 0)), greater(variables('pharma_rows_copied'), 0))",
                    "type": "Expression"
                },
                "ifTrueActivities": [
                    {
                        "name": "Run_Raw_NB",
                        "type": "DatabricksNotebook",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.02:00:00",
                            "retry": 3,
                            "retryIntervalInSeconds": 60
                        },
                        "typeProperties": {
                            "notebookPath": "/Workspace/Users/avinashanu101@gmail.com/Raw_NB_Enhanced",
                            "baseParameters": {
                                "pipeline_name": { "value": "@pipeline().Pipeline", "type": "Expression" },
                                "notebook_name": "raw_nb_enhanced",
                                "run_id": { "value": "@pipeline().RunId", "type": "Expression" },
                                "report_month": { "value": "@pipeline().parameters.report_month", "type": "Expression" },
                                "raw_container": { "value": "@pipeline().parameters.raw_container", "type": "Expression" },
                                "bronze_container": { "value": "@pipeline().parameters.bronze_container", "type": "Expression" }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Run_Silver_NB",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Run_Raw_NB",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.02:00:00",
                            "retry": 3,
                            "retryIntervalInSeconds": 60
                        },
                        "typeProperties": {
                            "notebookPath": "/Workspace/Users/avinashanu101@gmail.com/Silver_NB",
                            "baseParameters": {
                                "pipeline_name": { "value": "@pipeline().Pipeline", "type": "Expression" },
                                "notebook_name": "silver_nb",
                                "run_id": { "value": "@pipeline().RunId", "type": "Expression" },
                                "source": "MySQL|AzureSQL|PostgreSQL",
                                "input_date": { "value": "@concat(replace(pipeline().parameters.report_month, '-', ''), '01')", "type": "Expression" },
                                "report_month": { "value": "@pipeline().parameters.report_month", "type": "Expression" }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Run_Gold_NB",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Run_Silver_NB",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.02:00:00",
                            "retry": 3,
                            "retryIntervalInSeconds": 60
                        },
                        "typeProperties": {
                            "notebookPath": "/Workspace/Users/avinashanu101@gmail.com/Gold_NB",
                            "baseParameters": {
                                "pipeline_name": { "value": "@pipeline().Pipeline", "type": "Expression" },
                                "notebook_name": "gold_nb",
                                "run_id": { "value": "@pipeline().RunId", "type": "Expression" },
                                "source": "MySQL|AzureSQL|PostgreSQL",
                                "input_date": { "value": "@concat(replace(pipeline().parameters.report_month, '-', ''), '01')", "type": "Expression" },
                                "report_month": { "value": "@pipeline().parameters.report_month", "type": "Expression" }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "ifFalseActivities": [
                    {
                        "name": "ACT_Fail_EmptySource",
                        "type": "Fail",
                        "dependsOn": [],
                        "typeProperties": {
                            "message": "Hospital=0, Device=50, Pharma=100 — abort.",
                            "errorCode": "EMPTY_SOURCE_DATA"
                        }
                    }
                ]
            }
        },
      {
        "name": "ACT_NB_UpdateAuditOnFailure",
        "type": "DatabricksNotebook",
        "dependsOn": [
          { "activity": "ACT_Copy_HospitalEvents", "dependencyConditions": ["Failed"] },
          { "activity": "ACT_Copy_DeviceEvents", "dependencyConditions": ["Failed"] },
          { "activity": "ACT_Copy_PharmaEvents", "dependencyConditions": ["Failed"] },
          { "activity": "ACT_IfCheck_RowCounts", "dependencyConditions": ["Failed"] }
        ],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 1,
          "retryIntervalInSeconds": 60
        },
        "typeProperties": {
          "notebookPath": "/Workspace/Users/avinashanu101@gmail.com/Helper_NB_Enhanced",
          "baseParameters": {
            "audit_action": "FAIL_PIPELINE",
            "pipeline_name": { "value": "@pipeline().Pipeline", "type": "Expression" },
            "run_id": { "value": "@pipeline().RunId", "type": "Expression" },
            "report_month": { "value": "@pipeline().parameters.report_month", "type": "Expression" },
            "error_message": { "value": "@concat('Pipeline failed tracking upstream issues. RunId: ', pipeline().RunId)", "type": "Expression" }
          }
        },
        "linkedServiceName": {
          "referenceName": "LS_AzureDatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "ACT_WebHook_AlertOnFailure",
        "type": "WebActivity",
        "dependsOn": [
          { "activity": "ACT_NB_UpdateAuditOnFailure", "dependencyConditions": ["Succeeded", "Failed"] }
        ],
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 1,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "method": "POST",
          "headers": {
            "Content-Type": "application/json"
          },
          "url": "https://prod-xx.eastus.logic.azure.com/workflows/REPLACE_WITH_YOUR_LOGIC_APP_URL",
          "body": {
            "value": "@concat('{\"pipelineName\":\"', pipeline().Pipeline, '\",\"runId\":\"', pipeline().RunId, '\",\"report_month\":\"', pipeline().parameters.report_month, '\",\"status\":\"FAILED\",\"trigger_time\":\"', pipeline().TriggerTime, '\"}')",
            "type": "Expression"
          }
        }
      }
    ],
    "folder": {
      "name": "J2D_Healthcare"
    },
    "annotations": [
      "j2d-healthcare",
      "medallion-architecture",
      "enhanced",
      "parallel"
    ]
  }
}
