logic_apps/LA_PipelineFailure_Email.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_an_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "pipelineName": {
                                "type": "string"
                            },
                            "runId": {
                                "type": "string"
                            },
                            "stage": {
                                "type": "string"
                            },
                            "status": {
                                "type": "string"
                            },
                            "input_date": {
                                "type": "string"
                            },
                            "message": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "actions": {
            "Parse_Request_Body": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "pipelineName": {
                                "type": "string"
                            },
                            "runId": {
                                "type": "string"
                            },
                            "stage": {
                                "type": "string"
                            },
                            "status": {
                                "type": "string"
                            },
                            "input_date": {
                                "type": "string"
                            },
                            "message": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {}
            },
            "Set_StatusColor": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Statuscolor",
                            "type": "string",
                            "value": "@{if(equals(body('Parse_Request_Body')?['status'], 'SUCCESS'), '#27ae60', if(equals(body('Parse_Request_Body')?['status'], 'FAILED'), '#e74c3c', if(equals(body('Parse_Request_Body')?['status'], 'SKIPPED'), '#f39c12', '#2980b9')))}"
                        }
                    ]
                },
                "runAfter": {
                    "Parse_Request_Body": [
                        "Succeeded"
                    ]
                }
            },
            "_Set_StatusIcon": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "statusIcon",
                            "type": "string",
                            "value": "@{if(equals(body('Parse_Request_Body')?['status'], 'SUCCESS'), '✅', if(equals(body('Parse_Request_Body')?['status'], 'FAILED'), '❌', if(equals(body('Parse_Request_Body')?['status'], 'SKIPPED'), '⚠️', '🔵')))}"
                        }
                    ]
                },
                "runAfter": {
                    "Set_StatusColor": [
                        "Succeeded"
                    ]
                }
            },
            "Send_Email_Notification": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['gmail']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "To": "riyanahmed8465@gmail.com",
                        "Subject": "@concat(variables('statusIcon'), ' J2D Healthcare | ', body('Parse_Request_Body')?['stage'], ' | ', body('Parse_Request_Body')?['status'], ' | ', body('Parse_Request_Body')?['input_date'])",
                        "Body": "<div style=\"max-width: 640px; margin: auto; background: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n\n  <div style=\"background-color: @{variables('Statuscolor')}; padding: 24px 32px;\">\n    <h1 style=\"margin: 0; color: #ffffff; font-size: 20px; font-weight: 600;\">\n      @{variables('statusIcon')} &nbsp; Pipeline Notification\n    </h1>\n    <p style=\"margin: 6px 0 0; color: rgba(255,255,255,0.85); font-size: 13px;\">\n      Stage: <strong>@{body('Parse_Request_Body')?['stage']}</strong>\n    </p>\n  </div>\n\n  <div style=\"padding: 28px 32px;\">\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 14px;\">\n      <tbody>\n        <tr style=\"border-bottom: 1px solid #ecf0f1;\">\n          <td style=\"padding: 10px 0; color: #7f8c8d; width: 38%;\">Pipeline Name</td>\n          <td style=\"padding: 10px 0; color: #2c3e50; font-weight: 500;\">@{body('Parse_Request_Body')?['pipelineName']}</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #ecf0f1;\">\n          <td style=\"padding: 10px 0; color: #7f8c8d;\">Stage</td>\n          <td style=\"padding: 10px 0; color: #2c3e50; font-weight: 500;\">@{body('Parse_Request_Body')?['stage']}</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #ecf0f1;\">\n          <td style=\"padding: 10px 0; color: #7f8c8d;\">Status</td>\n          <td style=\"padding: 10px 0;\">\n            <span style=\"background-color: @{variables('Statuscolor')}; color: white; padding: 3px 10px; border-radius: 12px; font-size: 12px; font-weight: 600;\">\n              @{body('Parse_Request_Body')?['status']}\n            </span>\n          </td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #ecf0f1;\">\n          <td style=\"padding: 10px 0; color: #7f8c8d;\">Input Date</td>\n          <td style=\"padding: 10px 0; color: #2c3e50; font-weight: 500;\">@{body('Parse_Request_Body')?['input_date']}</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #ecf0f1;\">\n          <td style=\"padding: 10px 0; color: #7f8c8d;\">Run ID</td>\n          <td style=\"padding: 10px 0; color: #2c3e50; font-family: monospace; font-size: 12px;\">@{body('Parse_Request_Body')?['runId']}</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #ecf0f1;\">\n          <td style=\"padding: 10px 0; color: #7f8c8d;\">Triggered At</td>\n          <td style=\"padding: 10px 0; color: #2c3e50;\">@{utcNow()}</td>\n        </tr>\n      </tbody>\n    </table>\n\n    <div style=\"margin-top: 20px; padding: 16px; background-color: #f8f9fa; border-left: 4px solid @{variables('Statuscolor')}; border-radius: 4px;\">\n      <p style=\"margin: 0; color: #2c3e50; font-size: 14px; line-height: 1.6;\">\n        <strong>Details:</strong><br>\n        @{body('Parse_Request_Body')?['message']}\n      </p>\n    </div>\n\n    <div style=\"margin-top: 24px; text-align: center;\">\n      <a href=\"https://adf.azure.com/en/monitoring/pipelineruns\" style=\"background-color: #2980b9; color: white; padding: 10px 24px; border-radius: 6px; text-decoration: none; font-size: 14px; font-weight: 500;\">\n        View in ADF Monitor &#8594;\n      </a>\n    </div>\n  </div>\n\n  <div style=\"background-color: #f4f6f9; padding: 16px 32px; text-align: center;\">\n    <p style=\"margin: 0; color: #bdc3c7; font-size: 12px;\">\n      J2D Healthcare Data Platform &middot; Azure Data Factory &middot; Automated Alert\n    </p>\n  </div>\n\n</div>"
                    },
                    "path": "/v2/Mail"
                },
                "runAfter": {
                    "_Set_StatusIcon": [
                        "Succeeded"
                    ]
                }
            },
            "Return_HTTP_200": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "body": {
                        "result": "Notification processed",
                        "status": "@{body('Parse_Request_Body')?['status']}",
                        "stage": "@{body('Parse_Request_Body')?['stage']}"
                    }
                },
                "runAfter": {
                    "Send_Email_Notification": [
                        "Succeeded"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "gmail": {
                    "id": "/subscriptions/e6bd8f44-2723-4cf4-8fc2-5e41a04f04b5/providers/Microsoft.Web/locations/centralindia/managedApis/gmail",
                    "connectionId": "/subscriptions/e6bd8f44-2723-4cf4-8fc2-5e41a04f04b5/resourceGroups/J2D_HEALTH_CARE/providers/Microsoft.Web/connections/gmail",
                    "connectionName": "gmail",
                    "connectionProperties": {}
                }
            }
        }
    }
}